<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <body class="back">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">escolhas</ion-title>
      </ion-toolbar>
    </ion-header>
 
 
    <div class="container">

      <ion-button routerLink="/lista-contatos">Contatos</ion-button>
    </div>
  </body>
  <ion-fab-button class="button4" onclick="play()">
    <ion-icon class="icon3"    name="people-circle-outline"></ion-icon>
 
  </ion-fab-button>
 
  </ion-content>

